# Exercise for web api

In [1]:
import requests
import datetime
import json
import pandas as pd

## 0. Function for formatting request URL

In [2]:
def format_reqt_URL(root_url, endpoint, dict_params):
    params = ""
    for key, value in dict_params.items():
        params += f"{key}={value}&"
        
    return f"{root_url}/{endpoint}?{params}"

## 1. Binance API

### (a) The root URL is https://api.binance.com

In [3]:
root_url_binance = "https://api.binance.com"

### (b) The endpoint to retrieve klines is api/v3/klines

In [4]:
endpoint_binance = "api/v3/klines"

### (c) Retrieve 75 daily observations of klines data for BTCUSDT

In [5]:
start_day = int((datetime.datetime(2021,6,15)- datetime.datetime(1970,1,1)).total_seconds())*1000
print(start_day)

1623715200000

In [6]:
kline_reqt = format_reqt_URL(
    root_url = root_url_binance,
    endpoint = endpoint_binance,
    dict_params = {
        "symbol": "BTCUSDT",
        "interval": "1d",
        "startTime": start_day,
        "limit": 75,
    },
)

print(kline_reqt)

https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=1d&startTime=1623715200000&limit=75&

In [7]:
kline_resp = requests.get(kline_reqt)
kline_df = pd.DataFrame.from_records(kline_resp.json())[[1,2,3,4]]
kline_df = kline_df.rename(columns={1: "Open", 2: "High", 3: "Low", 4: "Close"})

In [8]:
kline_df

              Open            High             Low           Close
0   40516.28000000  41330.00000000  39506.40000000  40144.04000000
1   40143.80000000  40527.14000000  38116.01000000  38349.01000000
2   38349.00000000  39559.88000000  37365.00000000  38092.97000000
3   38092.97000000  38202.84000000  35129.29000000  35819.84000000
4   35820.48000000  36457.00000000  34803.52000000  35483.72000000
..             ...             ...             ...             ...
70  49488.85000000  49860.00000000  47600.00000000  47674.01000000
71  47674.01000000  49264.30000000  47126.28000000  48973.32000000
72  48973.32000000  49352.84000000  46250.00000000  46843.87000000
73  46843.86000000  49149.93000000  46348.00000000  49069.90000000
74  49069.90000000  49299.00000000  48346.88000000  48895.35000000

[75 rows x 4 columns]

### (d) Function that retrieves 75 daily observations of klines data

In [9]:
def kline75(pair, start_year, start_month, start_day):
    start_date_sec = int((datetime.datetime(start_year, start_month, start_day)- datetime.datetime(1970,1,1)).total_seconds())*1000
    reqt = format_reqt_URL(root_url_binance, "api/v3/klines", {"symbol": pair, "interval": "1d", "startTime": start_date_sec, "limit": 75})
    resp = requests.get(reqt)
    kline75_df = pd.DataFrame.from_records(resp.json())[[1,2,3,4]]
    kline75_df = kline75_df.rename(columns={1: "Open", 2: "High", 3: "Low", 4: "Close"})
    return kline75_df

In [10]:
# verification: same results below with the generic function as in part (c)
kline75("BTCUSDT",2021,6,15)

              Open            High             Low           Close
0   40516.28000000  41330.00000000  39506.40000000  40144.04000000
1   40143.80000000  40527.14000000  38116.01000000  38349.01000000
2   38349.00000000  39559.88000000  37365.00000000  38092.97000000
3   38092.97000000  38202.84000000  35129.29000000  35819.84000000
4   35820.48000000  36457.00000000  34803.52000000  35483.72000000
..             ...             ...             ...             ...
70  49488.85000000  49860.00000000  47600.00000000  47674.01000000
71  47674.01000000  49264.30000000  47126.28000000  48973.32000000
72  48973.32000000  49352.84000000  46250.00000000  46843.87000000
73  46843.86000000  49149.93000000  46348.00000000  49069.90000000
74  49069.90000000  49299.00000000  48346.88000000  48895.35000000

[75 rows x 4 columns]

## 2. FRED API

### (a) API key

In [17]:
api_key_fake = "abc123"
# the real api_key is not included in this uploaded file

### (b) The root URL is  https://api.stlouisfed.org

In [12]:
root_url_fred = "https://api.stlouisfed.org"

### (c) The endpoint to retrieve time series observations is fred/series/observations

In [13]:
endpoint_fred = "fred/series/observations"

### (d)

In [18]:
unrate_reqt = format_reqt_URL(
    root_url = root_url_fred,
    endpoint = endpoint_fred,
    dict_params = {
        "api_key": api_key_fake,
        "file_type": "json",
        "series_id": "UNRATE",
        "observation_start": "2020-01-01",
    },
)
print(unrate_reqt)

https://api.stlouisfed.org/fred/series/observations?api_key=abc123&file_type=json&series_id=UNRATE&observation_start=2020-01-01&

#### Note: An authentic API key is needed for below cells:

In [15]:
unrate_resp = requests.get(unrate_reqt)
unrate_df = pd.DataFrame.from_records(unrate_resp.json()["observations"])

In [16]:
unrate_df

   realtime_start realtime_end        date value
0      2021-11-07   2021-11-07  2020-01-01   3.5
1      2021-11-07   2021-11-07  2020-02-01   3.5
2      2021-11-07   2021-11-07  2020-03-01   4.4
3      2021-11-07   2021-11-07  2020-04-01  14.8
4      2021-11-07   2021-11-07  2020-05-01  13.3
5      2021-11-07   2021-11-07  2020-06-01  11.1
6      2021-11-07   2021-11-07  2020-07-01  10.2
7      2021-11-07   2021-11-07  2020-08-01   8.4
8      2021-11-07   2021-11-07  2020-09-01   7.8
9      2021-11-07   2021-11-07  2020-10-01   6.9
10     2021-11-07   2021-11-07  2020-11-01   6.7
11     2021-11-07   2021-11-07  2020-12-01   6.7
12     2021-11-07   2021-11-07  2021-01-01   6.3
13     2021-11-07   2021-11-07  2021-02-01   6.2
14     2021-11-07   2021-11-07  2021-03-01   6.0
15     2021-11-07   2021-11-07  2021-04-01   6.1
16     2021-11-07   2021-11-07  2021-05-01   5.8
17     2021-11-07   2021-11-07  2021-06-01   5.9
18     2021-11-07   2021-11-07  2021-07-01   5.4
19     2021-11-07   2021-11-07  2021-08-01   5.2
20     2021-11-07   2021-11-07  2021-09-01   4.8
21     2021-11-07   2021-11-07  2021-10-01   4.6